@model IEnumerable<InmobiliariaPanelo.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}
<h1>Propietario</h1>
<br>
<a asp-action="Agregar" class="btn btn-success" title="Agregar Propietario">Agregar Propietario</a>
<table class="table">
    <thead>
        <tr>
@* 			<th>
				@Html.DisplayNameFor(model => model.IdPropietario)
			</th> *@
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
@*             <td>
                @Html.DisplayFor(modelItem => item.IdPropietario)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
			<td>
                <a type="button" class="btn btn-danger" asp-action="PropietarioEliminar" asp-route-id="@item.IdPropietario" title="Eliminar propietario"><span>Borrar</span></a>
                <a type="button" class="btn btn-warning" asp-action="PropietarioEditar" asp-route-id="@item.IdPropietario" title="Editar propietario"><span>Editar</span></a>

            </td>
        </tr>
}
    </tbody>
</table>