@model IEnumerable<InmobiliariaPanelo.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>
<div class="row">
    <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
         <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        </svg>

        @if(@TempData["msj"] != null){
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <strong>@TempData["msj"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<br>
<div class="row">
     <div class="col-auto">
        <a asp-action="PropietarioAgregar" class="btn btn-success" title="Agregar Propietario">Agregar Propietario</a>
    </div>
    <div class="col-auto">        
        <div class="input-group mb-3">
            <label class="input-group-text" for="filtroInput" id="basic-addon1">Buscador</label>
            <input type="text" class="form-control" name="otroInput" id="filtroInput" placeholder="Buscador">
        </div>
    </div>   
</div>

<table class="table">
    <thead>
        <tr>
			<th>
				@Html.DisplayNameFor(model => model.IdPropietario)
			</th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.IdPropietario)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
			<td>
                @if(User.IsInRole("Administrador")){
                    <a type="button" class="btn btn-danger" asp-action="PropietarioEliminar" asp-route-id="@item.IdPropietario" title="Eliminar propietario"><span>Borrar</span></a>
                }
                <a type="button" class="btn btn-warning" asp-action="PropietarioEditar" asp-route-id="@item.IdPropietario" title="Editar propietario"><span>Editar</span></a>
                <a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.IdPropietario" title="Detalles"><span>Detalles</span></a>

            </td>
        </tr>
}
    </tbody>
</table>

