@model IEnumerable<InmobiliariaPanelo.Models.Pago>

@{
    ViewData["Title"] = "Gestion de pagos";
}

<h1>Gestion de pagos</h1>


<br>
<div class="col-4">
  <input  type="text" class="form-control "  name="otroInput" id="filtroInput" placeholder="Buscador">
</div>
<table class="table">
    <thead>
        <tr>
			<th>
                @Html.DisplayNameFor(model => model.Contrato.Inquilino.IdInquilino)
            

            </th>

   		 	<th>
                @Html.DisplayNameFor(model => model.Contrato.Inmueble.Direccion)
            </th>
        @*     <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inquilino)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>  *@

			<th>Acciones</th>
        </tr>
    </thead>
	<tbody id="tbody">
		@foreach (var item in Model)
		{
			<tr>
			 	<td>
					@Html.DisplayFor(modelItem => item.Contrato.Inquilino.Nombre)
                    @Html.DisplayFor(modelItem => item.Contrato.Inquilino.Apellido)
                    
				</td>
		        <td>
					@Html.DisplayFor(modelItem => item.Contrato.Inmueble.Direccion)
                

				</td>
			@* 			<td>
					@Html.DisplayFor(modelItem => item.Inmueble.Direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.InquilinoId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Inquilino.Nombre)
					@Html.DisplayFor(modelItem => item.Inquilino.Apellido)

				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaDesde)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaHasta)
				</td> *@
	
				<td>
              	  <a type="button" class="btn btn-warning" asp-action="VistaDetalles" asp-route-id="@item.IdPago" title="Realizar pago"><span>Realizar pago</span></a>
                   <a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.IdPago" title="Detalles"><span>Detalles</span></a>

				</td>
			</tr>
			}
		</tbody>
</table>


    <script>
       
        var filtroInput = document.getElementById("filtroInput");
        filtroInput.addEventListener("input", filtrarOpciones);

        function filtrarOpciones() {

            var filtro = filtroInput.value.toLowerCase();
            var select = document.getElementById("tbody");
            var opciones = select.getElementsByTagName("tr");

            for (var i = 0; i < opciones.length; i++) {
                var opcionTexto = opciones[i].innerHTML.toLowerCase();
                if (opcionTexto.includes(filtro)) {
                    opciones[i].style.display = "";
                } else {
                    opciones[i].style.display = "none";
                }
            }
        }
    </script>