@model IEnumerable<InmobiliariaPanelo.Models.Pago>
@{
    ViewData["Title"] = "Detalle";
}



<div class="row">
    <div class="col">
        <h1>@ViewData["detalle"]</h1> VER QUE MAS MOSTRAR
        <hr/>
        <dl class="row align-items-center">        
            <dt class = "my-2 col-sm-3">
                Identificador de Contrato
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FirstOrDefault().Contrato.IdContrato)
            </dd>
            <dt class = "my-2 col-sm-3">
                Nombre del inquilino
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FirstOrDefault().Contrato.Inquilino.Nombre)
                @Html.DisplayFor(model => model.FirstOrDefault().Contrato.Inquilino.Apellido)
            </dd>
        </dl>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Fecha)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Monto)</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(model => item.Fecha)</td>
                    <td>@Html.DisplayFor(model => item.Monto)</td>
                    @* @if(User.IsInRole("Administrador")){ *@
                        <td>                
                            <a type="button" class="btn btn-danger" asp-action="Vista" asp-route-id="@item" title="Eliminar propietario"><span>Borrar</span></a>
                        </td>  
               @*      } *@
                </tr>
            }
            </tbody>
        </table>
        <a class="mb-3 btn btn-primary" asp-action="Index">Volver al listado</a>
    </div>
</div>
