@model IEnumerable<InmobiliariaPanelo.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";

}
<h1>Inmuebles</h1> 


<div class="row">
    <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        </svg>

        @if(@TempData["msj"] != null){
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <strong>@TempData["msj"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col-auto ">
            <a asp-action="InmuebleAgregar" class="btn btn-success" title="Agregar Inquilino">Agregar Inmueble</a>
        </div>
        <div class="col-auto">
            <div class="input-group mb-3">
                <label class="input-group-text" for="filtroInput" id="basic-addon1">Buscador</label>
                <input type="text" class="form-control" name="otroInput" id="filtroInput" placeholder="Buscador">
            </div>
        </div>
        <div class="col-auto my-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="porDisponibilidad">
                <label class="form-check-label" for="porDisponibilidad">Mostrar solo disponibles</label>
            </div>
        </div>

	 <div class="col-auto ">
            <a asp-action="InmuebleBuscador" class="btn btn-success" title="Buscador de Inmuebles">Buscardor de Inmuebles</a>
        </div>

    </div>
</div>

<table class="table ">
    <thead>
        <tr>
			<th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th> 
			<th>Acciones</th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>					
					@(item.Propietario.Nombre + " " + item.Propietario.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Uso)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tipo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Precio)
				</td>
				<td>
					@if(item.Disponible)
					{
						<input type="checkbox"  id="miCheckbox" checked style="display: none;">

						<i class="fa-solid fa-check fa-2xl" style="color: #00c20d;"></i>
					}
					else
					{
						<input type="checkbox"  id="miCheckbox" style="display: none;"> 
						<i value="@item.Disponible"  class="fa-solid fa-xmark fa-2xl" style="color: #c20000;"></i>
					}

				</td>	
				<td>
				@if(User.IsInRole("Administrador")){
              		<a type="button" class="btn btn-danger" asp-action="InmuebleEliminar" asp-route-id="@item.IdInmueble" title="Eliminar inmueble"><span>Borrar</span></a>
				}
				<a type="button" class="btn btn-warning" asp-action="InmuebleEditar" asp-route-id="@item.IdInmueble" title="Editar inmueble"><span>Editar</span></a>
              	<a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.IdInmueble" title="Detalles"><span>Detalles</span></a>
				</td>
			</tr>
			}
		</tbody>
</table>





