@model IEnumerable<InmobiliariaPanelo.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

<br>
<div class="container">
    <div class="row">
        <div class="col-auto ">
            <a asp-action="InquilinoAgregar" class="btn btn-success" title="Agregar Inquilino">Agregar Inquilino</a>
        </div>
        <div class="col-auto">
            <div class="input-group mb-3">
                <label class="input-group-text" for="filtroInput" id="basic-addon1">Buscador</label>
                <input type="text" class="form-control" name="otroInput" id="filtroInput" placeholder="Buscador">
            </div>
        </div>
        <div class="col-auto my-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="porDisponibilidad">
                <label class="form-check-label" for="porDisponibilidad">Mostrar solo disponibles</label>
            </div>
        </div>
    </div>
</div>

<table class="table ">
    <thead>
        <tr>
			<th>
                @Html.DisplayNameFor(model => model.Propietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th> 
			<th>Acciones</th>
        </tr>
    </thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>					
					@(item.Propietario.Nombre + " " + item.Propietario.Apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Uso)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Tipo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Precio)
				</td>
				<td>
					@if(item.Disponible)
					{
						<input type="checkbox"  id="miCheckbox" checked style="display: none;">

						<i class="fa-solid fa-check fa-2xl" style="color: #00c20d;"></i>
					}
					else
					{
						<input type="checkbox"  id="miCheckbox" style="display: none;"> 
						<i value="@item.Disponible"  class="fa-solid fa-xmark fa-2xl" style="color: #c20000;"></i>
					}

				</td>	
				<td>
				@if(User.IsInRole("Administrador")){
              		<a type="button" class="btn btn-danger" asp-action="InmuebleEliminar" asp-route-id="@item.IdInmueble" title="Eliminar inmueble"><span>Borrar</span></a>
				}
				<a type="button" class="btn btn-warning" asp-action="InmuebleEditar" asp-route-id="@item.IdInmueble" title="Editar inmueble"><span>Editar</span></a>
              	<a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.IdInmueble" title="Detalles"><span>Detalles</span></a>
				</td>
			</tr>
			}
		</tbody>
</table>



