@model IEnumerable<InmobiliariaPanelo.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<div class="row">
    <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        </svg>

        @if(@TempData["msj"] != null){
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <strong>@TempData["msj"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<hr>
<div class="row">
     <div class="col-auto">
        <a asp-action="InquilinoAgregar" class="btn btn-success" title="Agregar Inquilino">Agregar Inquilino</a>
    </div>
    <div class="col-auto">        
        <div class="input-group mb-3">
            <label class="input-group-text" for="filtroInput" id="basic-addon1">Buscador</label>
            <input type="text" class="form-control" name="otroInput" id="filtroInput" placeholder="Buscador">
        </div>
    </div>   
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
			<td>
                @if(User.IsInRole("Administrador")){
                    <a type="button" class="btn btn-danger" asp-action="InquilinoEliminar" asp-route-id="@item.IdInquilino" title="Eliminar inquilino"><span>Borrar</span></a>
                }
                <a type="button" class="btn btn-warning" asp-action="InquilinoEditar" asp-route-id="@item.IdInquilino" title="Editar inquilino"><span>Editar</span></a>
                <a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.IdInquilino" title="Detalles"><span>Detalles</span></a>

            </td>
        </tr>
}
    </tbody>
</table>



