@model InmobiliariaPanelo.Models.Contrato

@{
    ViewData["Title"] = "Eliminar Contrato";
}

<h1>Eliminar Contrato</h1>
<hr/>

<div class="row">
    <div class="col">
        <h2>Detalles del contrato</h2>        
        <dl class="row align-items-center">
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.FechaDesde)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FechaDesde)
            </dd>
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.FechaHasta)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FechaHasta)
            </dd>
                    
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.Inmueble)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.Inmueble.Direccion)
            </dd>
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.Monto)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.Monto)
            </dd>
            
        </dl>
                   <form asp-action="ContratoEliminar">
        <a class="btn btn-primary" asp-action="Index">Volver al listado</a> | 
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        
    </form>


    </div>
        
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2>Detalles del inmueble</h2>
                    <dl class="row align-items-center">
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inmueble.Direccion)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inmueble.Direccion)
                        </dd>
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inmueble.Precio)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inmueble.Precio)
                        </dd>
                        <dt class = "my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Vigente)
                        </dt>
                        <dd class = "my-2 col-sm-9">
                            @if(Model.Vigente)
                                {
                                    <input type="checkbox"  id="miCheckbox" checked style="display: none;">

                                    <i class="fa-solid fa-check fa-2xl" style="color: #00c20d;"></i>
                                }
                                else
                                {
                                    <input type="checkbox"  id="miCheckbox" style="display: none;"> 
                                    <i value="@Model.Vigente"  class="fa-solid fa-xmark fa-2xl" style="color: #c20000;"></i>
                                }
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr/>
                    <h2>Detalles del inquilino</h2>
                    
                        <dl class="row align-items-center">
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Nombre)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Nombre)
                            @Html.DisplayFor(model => model.Inquilino.Apellido)
                        </dd>
                                                <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Telefono)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Telefono)
                        </dd>
                                                <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Email)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Email)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


    
