@model InmobiliariaPanelo.Models.Contrato
@{
    ViewData["Title"] = "Detalle";
}


<div class="row">
    <div class="col">
        <h1>@ViewData["detalle"]</h1>
        <hr/>
        <dl class="row align-items-center">
@*             <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.IdContrato)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.IdContrato)
            </dd> *@
          @*   <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.InquilinoId)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.InquilinoId)
            </dd>
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.InmuebleId)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.InmuebleId)
            </dd> *@
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.FechaDesde)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FechaDesde)
            </dd>
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.FechaHasta)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.FechaHasta)
            </dd>
                    
            <dt class = "my-2 col-sm-3">
                @Html.DisplayNameFor(model => model.Inmueble)
            </dt>
            <dd class = "my-2 col-sm-9">
                @Html.DisplayFor(model => model.Inmueble.Direccion)
            </dd>
        </dl>
                <a class="btn btn-primary" asp-action="Index">Volver al listado</a>

    </div>
        
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>Detalles del inmueble</h1>
                    <hr/>
                        <dl class="row align-items-center">
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inmueble.Direccion)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inmueble.Direccion)
                        </dd>
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inmueble.Precio)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inmueble.Precio)
                        </dd>
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inmueble.Disponible)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inmueble.Disponible)
                        </dd>

                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Detalles del inquilino</h1>
                    <hr/>
                        <dl class="row align-items-center">
                        <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Nombre)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Nombre)
                            @Html.DisplayFor(model => model.Inquilino.Apellido)
                        </dd>
                                                <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Telefono)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Telefono)
                        </dd>
                                                <dt class="my-2 col-sm-3">
                            @Html.DisplayNameFor(model => model.Inquilino.Email)
                        </dt>
                        <dd class="my-2 col-sm-9">
                            @Html.DisplayFor(model => model.Inquilino.Email)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


    
    


