@model InmobiliariaPanelo.Models.Contrato
@{
    ViewData["Title"] = "Editar Contrato";
    var listaInquilinos = (IList<Inquilino>)ViewBag.listaInquilinos;
    var listaInmuebles = (IList<Inmueble>)ViewBag.listaInmuebles;
}

<h1>Editar Contrato</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContratoEditar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="IdContrato" value="@Model.IdContrato" />


            <div class="form-group">
                <label asp-for="FechaDesde" class="control-label"></label>
               
       
                <input  asp-for="FechaDesde"  class="form-control"  />
                
                
                <span asp-validation-for="FechaDesde" class="text-danger"></span>
            </div>



           <div class="form-group">
                <label asp-for="FechaHasta" class="control-label"></label>
                <input asp-for="FechaHasta" class="form-control" />
                <span asp-validation-for="FechaHasta" class="text-danger"></span>
            </div>
            <span class="text-danger">@TempData["mensaje"]</span>

@* 
            @if(Model.Vigente == true){
                
            } *@
          @*   <input type="hidden" name="IdInquilino" value="@Model.InquilinoId" /> *@
            <div  class="form-group">
				<label class="control-label">Inquilino</label>
				 <select @(Model.Vigente == false ? "disabled" : "")  class="form-control" name="InquilinoId"  > 
					@foreach (var item in listaInquilinos)
					{
                        if(item.IdInquilino == Model.InquilinoId){
                            <option selected value="@item.IdInquilino">@(item.ToString())</option>
                        }else{
                            <option value="@item.IdInquilino">@(item.ToString())</option>
                        }
                        <span asp-validation-for="InquilinoId" class="text-danger"></span>
					}
				</select>
				
			</div>
            <div class="form-group">
				<label class="control-label">Inmueble</label>
				<select @(Model.Vigente == false ? "disabled" : "")  class="form-control" name="InmuebleId">
					@foreach (var item in listaInmuebles)
					{
                        if(item.IdInmueble == Model.InmuebleId){
                            <option selected value="@item.IdInmueble">@(item.ToString())</option>
                        }
                        else{
                            <option value="@item.IdInmueble">@(item.ToString())</option>
                        }
                        <span asp-validation-for="InmuebleId" class="text-danger"></span>
					}
				</select>

                 <dl class="row align-items-center">
                    <dt class = "my-2 col-4">
                        @Html.DisplayNameFor(model => model.Monto) :
                    </dt>
                    <dd class = "my-2 col">
                        @Html.DisplayFor(model => model.Monto)
                    </dd>
                 </dl>

				
			</div>
            <div class="form-group"style="display: none;">
                <label asp-for="Vigente" class="control-label"></label>
                <input type="checkbox" checked asp-for="Vigente"/>
                <span asp-validation-for="Vigente" class="text-danger"></span>
            </div> 
            <div class="form-group mt-4">
              <a asp-action="Index" class="btn btn-primary ">Volver al listado</a> | 
                <input type="submit" value="Guardar" class="btn btn-success" />                            
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}