@model IEnumerable<InmobiliariaPanelo.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestión de Usuarios</h1>
@if(User.IsInRole("Administrador")){
    <p>
        <a asp-action="AgregarUsuario" class="btn btn-success" title="Agregar Propietario">Agregar Usuario</a>
    </p>
}
<hr>
<div class="row">
    <div class="col-auto">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
         <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        </svg>

        @if(@TempData["msj"] != null){
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <strong>@TempData["msj"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        @if(!(User.Identity.Name == item.Email)){
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @* <img width="32" src="@item.Avatar" /> *@
                    @if (!string.IsNullOrEmpty(@item.Avatar))
                    {
                        <img class="img-thumbnail" width="64"  src="@item.Avatar" />
                    }
                    else
                    {
                        <p>Sin avatar</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolNombre)
                </td>
                <td>
                    @if(User.IsInRole("Administrador")){
                    
                        <a type="button" class="btn btn-danger" asp-action="UsuarioEliminar" asp-route-id="@item.Id" title="Eliminar propietario"><span>Borrar</span></a>
                        
                        <a type="button" class="btn btn-warning" asp-action="UsuarioEditar" asp-route-id="@item.Id" title="Editar propietario"><span>Editar</span></a>
                    }
                    <a type="button" class="btn btn-primary" asp-action="VistaDetalles" asp-route-id="@item.Id" title="Detalles"><span>Detalles</span></a>

                </td>

            </tr>
        }
}
    </tbody>
</table>
