@model InmobiliariaPanelo.Models.Usuario
@* @{
    ViewData["Title"] = "Editar Usuario";
} *@


<h1>@ViewData["Title"] </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UsuarioEditarPerfil">
             <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (User.IsInRole("Administrador"))
			{
				<div class="form-group">
					<label class="control-label">Rol</label>
					<select class="form-control" name="Rol">
						@foreach (var kvp in (IDictionary<int, string>)ViewBag.Roles)
						{
							@:<option @(kvp.Key == Model.Rol ? "selected" : "") value="@kvp.Key">@kvp.Value</option>
						}
					</select>
					<span asp-validation-for="Rol" class="text-danger"></span>
				</div>
			}
            
            <div class="form-group my-3">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <form asp-action="UsuarioEditarAvatar" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label><br />
                @if (Model.Avatar != "" && Model.Avatar != null)
                {
                    <img class="img-thumbnail" width="256"  src="@Model.Avatar" />
                }
                else
                {
                    <p>Sin avatar</p>
                }
                <div class="form-group">
                    <label asp-for="AvatarFile" class="control-label"></label>
                    <input type="file" name="AvatarFile" />
                <span  class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group my-3">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <input type="submit" name="Borrar" value="Borrar avatar" class="btn btn-danger" />
            </div>
        </form>
    </div>

        <div class="col-md-4">
            <form asp-action="UsuarioEditarContrasena">
                <input type="hidden" name="Id" value="@Model.Id" />

                <!-- C칩digo para editar Nueva Contrase침a -->
                <div class="form-group">
                    <label for="Clave" class="control-label">Nueva Contrase침a</label>
                    <input id="Clave" name="Clave" class="form-control" type="password" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="Clave" class="control-label">Nueva Contrase침a</label>
                    <input id="Clave" name="Clave" class="form-control" type="password" />
                    <span asp-validation-for="Clave" class="text-danger"></span>
                </div>

                <div class="form-group my-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </form>
        </div>
</div>

<div class="mb-2">
    <a class="btn btn-primary" asp-action="Gestion">Volver al Listado</a>
</div>


